$colors: (
  primary: (
    100: hsl(30, 38%, 92%),
    500: hsl(158, 36%, 37%),
    700: hsl(158, 36%, 30%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    400: hsl(228, 12%, 48%),
    900: hsl(212, 21%, 14%),
  ),
);
